gunicorn==26.0.0
setuptools==82.0.1
simplejson==4.1.1
setuptools-rust==1.12.1
medcat[meta-cat,spacy,deid]~=2.7.0
# pinned because of issues with de-id models and past models (it will not do any de-id)
transformers>=5.8.1,<6.0.0
requests==2.34.0
fastapi[standard]==0.136.1
pydantic>=2.13.4,<2.13.5
pydantic-settings==2.14.1
gradio[mcp]==6.14.0
prometheus-fastapi-instrumentator==7.1.0
opentelemetry-distro[otlp]==0.62b1
opentelemetry-instrumentation==0.62b1
opentelemetry-resource-detector-containerid==0.62b1
opentelemetry-instrumentation-fastapi==0.62b1
opentelemetry-instrumentation-requests==0.62b1
opentelemetry-instrumentation-threading==0.62b1
opentelemetry-instrumentation-httpx==0.62b1
